fastapi
uvicorn
SQLAlchemy
pymysql
python-dotenv
cryptography
python-jose[cryptography]
passlib[bcrypt]
google-auth
google-auth-oauthlib
requests
openai
pydantic[email]
email-validator==2.1.0
pydantic-settings==2.0.3